@model doan.Models.baiViet
@using doan.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Private/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Danh sách khách hàng
        </h1>
        <ol class="breadcrumb">
            <li><a href='@Url.Action("Index", "TrangChu")'><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Danh mục khách hàng</a></li>
            <li class="active">Danh sách khách hàng</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            @using (Html.BeginForm("Create", "DSachBaiViet", FormMethod.Post , new { enctype = "multipart/form-data"}))
            {
                <!--Content - left-->
                <section>
                    <div class="col-lg-8 col-xs-4">
                        <div class="box box-danger">
                            <div class="box-header with-border">
                                <h3 class="box-title">Thông tin chính</h3>

                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                            <div class="box-body ">
                                
                                <!--Tên bài viết-->
                                <div class="form-group ">
                                    <label class="control-lable">Tên bài viết</label>
                                    <div class="text">
                                        @Html.TextBoxFor(x => x.tenBV, new { @class = "form-control col-lg-12", placeholder = "Nhập tên bài viết" })
                                    </div>
                                </div>
                                <!--nội dung tt bài viết-->
                                <div class="form-group">
                                    <label class="control-lable">Nội dung tóm tắt</label>
                                    <div class="text">
                                        @Html.TextAreaFor(x => x.ndTomTat, new { @class = "form-control col-lg-12", placeholder = "Nhập nội dung tóm tắt" })
                                    </div>
                                </div>
                                <!--nội dung bài viết-->
                                <div class="form-group">
                                    <label class="control-lable">Nội dung bài viết</label>
                                    <div class="text">
                                        @Html.TextAreaFor(x => x.noiDungBV, new { @class = "form-control col-lg-12", placeholder = "Nhập nọi dung bài viết", id="ndBV"})
                                    </div>
                                </div>
                                <!--Ngày đăng-->
                                <div class="form-group col-lg-3">
                                    <label class="control-lable">Ngày đăng</label>
                                    <div class="text">
                                        @Html.TextBoxFor(x => x.ngayDang, new { @class = "form-control col-lg-3", disabled = "disabled" })
                                    </div>
                                </div>
                                <!--tài khoản-->
                                <div class="form-group col-lg-4">
                                    <label class="control-lable">Tài khoản</label>
                                    <div class="text">
                                        @Html.TextBoxFor(x => x.email, new { @class = "form-control col-lg-4", disabled = "disabled" })
                                    </div>
                                </div>
                                <!--Loại Tin-->
                                <div class="form-group col-lg-3">
                                    <label class="control-lable">Loại tin</label>
                                    <div class="text">
                                        @Html.TextBoxFor(x => x.maBV, new { @class = "form-control col-lg-3", placeholder = "Nhập loại tin" })
                                    </div>
                                </div>
                                <div class="form-group col-lg-2">
                                    <label class="control-lable">Số lần đọc</label>
                                    <div class="text">
                                        @Html.TextBoxFor(x => x.soLanDoc, new { @class = "form-control col-lg-3", disabled = "disabled" })
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!--Content - right-->
                    <div class="col-lg-4 col-xs-4">
                        <div class="box box-danger">
                            <div class="box-header with-border">
                                <h3 class="box-title">Hình đại diện</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <img id="myImg" src="@ViewBag.hinhDD" alt="your image">
                                <input type='file' name="hinhDD"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <button type="submit" class="btn btn-primary">Lưu thông tin</button>
                        <a href='@Url.Action("Index", "DSachBaiViet", new { IsActive = 1})' class="btn btn-danger">Hủy</a>
                    </div>
                </section>

            }
        </div>

        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

<script src="https://cdn.tiny.cloud/1/9uzu8a0s0nxkdfy3hd4zk0pyq3641s2fthqazf7gxj2di168/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: 'textarea#ndBV',
        plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
    });
</script>